{% extends "base.html" %}

{% block content %}
<div>
    <div class="flex flex-col md:flex-row justify-center">
        <div class="movie-card" data-imdb-id="{{ mid }}">
            <img class="movie-thumbnail" alt="{{ title }}" style="width: 400px">
        </div>

        <div class="w-full md:w-1/2 flex flex-col justify-center bg-gray-800">
            <h3 class="flex-1 underline text-4xl lg:text-6xl pl-6 border-t border-b border-dashed border-white">{{ title }}</h3>
            <div class="flex-1 h-1/4 text-xl pl-6 border-b border-dashed border-white">
                <h4>Genres:</h4>
                <ul class="pl-10">
                    {% for g in genres %}
                        <li>- {{ g }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% if directors %}
            <div class="flex-1 h-1/4 text-xl pl-6 border-b border-dashed border-white">
                Directed by:
                <ul class="pl-10">
                    {% for d in directors%}
                    <li>
                        - {{ d.name }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if writers %}
            <div class="flex-1 h-1/4 text-xl pl-6 border-b border-dashed border-white">
                Written by:
                <ul class="pl-6">
                    {% for w in writers%}
                    <li>
                        - {{ w.name }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="mt-10">
        <h3 class="text-2xl font-bold pl-15">Cast: </h3>
        <ul class="flex justify-between border-2 border-r-0 border-l-0 border-gray-200" >
            {% for c in cast %}
                <li class="flex-1 text-center border border-gray-200">
                    <h4 class="text-xl font-bold">{{ c.name }} as:</h4>
                    <ul>
                        {% for char in c.characters %}
                            <li>
                                - {{ char }}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if titles %}
    <div class="mt-10">
        
        <h3 class="text-2xl font-bold pl-15">
            Alternative titles:
        </h3>
        
        <div id="regions" class="grid sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-10">
        </div>
    </div>
    {% endif %}
    <div class="mt-10">
        <h3 class="text-2xl font-bold pl-15">Similar: </h3>
        <div class="border-t border-white">
            <h4 class="text-xl font-bold pl-15">By the same director(s): </h4>
            <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-5">
                {% for d in directors_rec %}
                    {% include "movies/components/movie_card.html" with mid=d.mid title=d.title %}
                {% endfor %}
            </div>
        </div>
        <div class="border-t border-white">
            <h4 class="text-xl font-bold pl-15">Of similar genres: </h4>
            <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-5">
            {% for g in genres_rec %}
                {% include "movies/components/movie_card.html" with mid=g.mid title=g.title %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% load static %}
<script src="{% static 'movies/js/fetch_movie_thumbnails.js' %}" defer></script>
<script>
    const titles = [
        {% for t in titles %}
            {"region": "{{ t.region }}", "title": "{{ t.title }}"},
        {% endfor %}
    ];

    const container = document.getElementById("regions");
    titles.forEach(t => {
        let regionDiv = document.getElementById(t.title);

        if (!regionDiv) {
            regionDiv = document.createElement("div");
            regionDiv.id = t.region;
            regionDiv.className= "border border-white text-center"

            const region_name = document.createElement("h4");
            if (t.region != "None")
                region_name.textContent = "Region " + t.region + ":";
            else
                region_name.textContent = "unknown";
            regionDiv.appendChild(region_name);

            container.appendChild(regionDiv);
        }

        const item = document.createElement("div");
        item.textContent = "- " + t.title;
        regionDiv.appendChild(item);
    });
</script>
{% endblock %}