{% extends 'base.html' %}

{% block title %}Movie list{% endblock%}

{% block content %}

<div class="flex flex-col lg:flex-row justify-center border-t border-b border-white p-2 bg-gray-800">
    <h2 class="text-2xl p-4 font-semibold">
    Filters:
    </h2>
    <form method="get" class="flex flex-col lg:flex-row justify-start space-x-3">

        <label>Genre:
        <select name="genre" class="bg-amber-50 rounded-xl text-black p-1">
            <option value="">None</option>
            {% for g in genres %}
                <option value="{{ g }}" {% if request.GET.genre == g %}selected{% endif %}>{{ g }}</option>
            {% endfor %}
        </select>
        </label>

        <label>Min year:
        <input class="bg-amber-50 rounded-xl text-black p-1" type="number" name="min_year" value={{ request.GET.min_year }}>
        </label>

        <label>Max year:
        <input class="bg-amber-50 rounded-xl text-black p-1" type="number" name="max_year" value={{ request.GET.max_year }}>
        </label>

        <label>Min note:
        <input class="bg-amber-50 rounded-xl text-black p-1" type="number" name="min_note" value={{ request.GET.min_note }}>
        </label>

        <div class="flex justify-start space-x-3">
            <h4>Sort:</h4>
            <label>By:
            <select name="sort" class="bg-amber-50 rounded-xl text-black p-1">
                <option value="title" {% if request.GET.sort == 'title' or request.GET.sort == ''%}selected{% endif %}>Title</option>
                <option value="year" {% if request.GET.sort == 'year'%}selected{% endif %}>Year</option>
                <option value="note" {% if request.GET.sort == 'note'%}selected{% endif %}>Rating</option>
            </select>
            </label>
            <label>Order:
            <select name='order' class="bg-amber-50 rounded-xl text-black p-1">
                <option value="ASC" {% if request.GET.order == "ASC" or request.GET.sort == ''%}selected{% endif %}>Ascending</option>
                <option value="DESC" {% if request.GET.order == "DESC" %}selected{% endif %}>Descending</option>
            </select>
            </label>
        </div>
        <button type="submit" class="bg-blue-400 text-black rounded-2xl p-1 shadow-md shadow-black transition-shadow hover:shadow-inner ">Apply filters</button>
    </form>
</div>

<div class="flex justify-center">
{% include "movies/components/movie_page.html" with films=films page_num=page_num page_count=page_count page_nav_range=page_nav_range base_qs=base_qs %}
</div>
{% endblock %}

{% block extra_js %}
{% load static %}
<script src="{% static 'movies/js/fetch_movie_thumbnails.js' %}" defer></script>
{% endblock %}