<div class="p-10">
<div class="bg-blue-950 rounded-2xl shadow-xl shadow-black p-10">
    {% if page_count == 0 %}
    <h3 class="text-center">No results found try using a different search</h3>
    {% else %}
    <p class="text-center text-2xl font-semibold p-8">Showing page {{ page_num }} of {{ page_count }}</p>
    <div class="grid sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5">
    {% for movie in films %}
        {% include "movies/components/movie_card.html" with mid=movie.mid title=movie.title width=100 %}
    {% endfor %}
    </div>
    <div class="text-center m8">
        <div class="text-blue-400 text-xl font-semibold">
            {% if page_num > 4 %}<a class="hover:underline" href="?{{ base_qs }}&page=1">1 <<</a>...{% endif %}
            {% for i in page_nav_range %}
                <a {% if i == page_num %} class="text-orange-500 underline"{% else %}class="hover:underline"{% endif %}href="?{{ base_qs }}&page={{ i }}">{{ i }}</a>
            {% endfor %}
            {% if page_num < page_count|add:"-4" %}...<a class="hover:underline" href="?{{ base_qs }}&page={{ page_count }}">>>{{ page_count }}</a>{% endif %}
        </div> 
    </div>
    {% endif %}
</div>
</div>