<!-- Component consisting of a movie thumbnail + title args: movie_id, title
     Must include static/js/fetch_movie_thumbnails.js along with this component-->

<div class="movie-card m-6 flex-col justify-center text-center hover:shadow-xl shadow-black transition-shadow rounded-xl max-w-50" data-imdb-id="{{ mid }}" onclick="window.location.replace('/movies/{{ mid }}')">
    <img class="movie-thumbnail rounded-t-xl bg-gray-500 h-65 w-full" alt="{{ title }}">
    <h3 class="bg-amber-50 text-black text-md font-semibold rounded-b-xl r">{{ title }}</h3>
</div>

